extends layout

block content
  h1= title
  h2 User stories:
    ol
      each story in userStories
        li= story
  h2 Example usage:<br/>
    code!= exampleUsage
  h2 Example response:<br/>
    code= exampleResponse