extends layout

block content
  h1= title
  h2 User stories:
    ol
      each story in userStories
        li= story
  h2 Example usage:<br/>
    code!= exampleUsage
  h2 Example response:<br/>
    code= exampleResponse
  h3.comments Comments
  p.comments
    | Even thought this app is just a microservice, I believe it would be more useful if it provided a more 
    | robust error response.  For example, if the user provides a string with a day that is too large for the month, 
    | a sample response could be:<br/>
    code { "status" : 400, "error" : "The provided day does not match the range of the provided month" }